name: GitHub Metrics

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Generate Metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: fcosantosserrano
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Europe/Madrid
          plugin_isocalendar: yes
          plugin_languages: yes
          plugin_habits: yes
          plugin_activity: yes
          plugin_lines: yes
          plugin_followup: yes

      - name: Commit metrics
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add github-metrics.svg
          git commit -m "Update GitHub metrics" || echo "No changes"
          git push
